<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload - {% block title %}{% endblock title %}</title>
  </head>
  {% load static %}
  {% block css %}
  {% endblock css %}
  <body>
    <!-- Navbar Start  -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Image Upload</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/detail/"
                  >Your Uploaded Images</a>
              </li>
            </ul>
            <a class="btn btn-primary" href="/detail/">{{user}} | {{ip}}</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- Navbar End  -->
    {% block content %} {% endblock content %}

    {% block js %}{% endblock js %}
  </body>
  </html>